@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

* {
    -fx-font-family: 'Gentium Book Basic', serif;
}

VBox.main {
    -fx-background-color: #0070FF;
}

Button {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

Button.signup {
    -fx-background-color: #003E8C;
    -fx-text-fill: white;
}

Button.signin {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

TextField, DatePicker {
    -fx-font-size: 18;
}

.error {
    -fx-fill: white;
    -fx-font-size: 16;
}